body,html{
    font-family: 'Noto Sans KR', sans-serif;
    background: gray;
}

.inner{
    width: 1170px;
    height: 100%;
    margin: 0px auto;
}

.hidden{
    width:1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0px 0px 0px 0px);
    margin: -1px;
}
/*
ir기법
image replace

1. text-index : -9999px
2. left : -9999px;
메모리 과부하 문제로 사용하지 않음


*/

/*header*/
header.header-container{
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 999;
}

div.header-top-container{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}
div.header-top-container ul{
    display: flex;
}
ul.header-login li{
    position: relative;
}
ul.header-login li:after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #dddddd;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
ul.header-login li a{
    color: #ffffff;
    font-size: 11px;
    display: block;
    padding: 9px 14px;
}

ul.header-sns{
    padding: 8px 24px 8px 12px;
}
ul.header-sns li{
    width: 14px;
    height: 14px;
    margin-left: 8px;
}
ul.header-sns li:last-child{
    margin-right: 0px;
}
ul.header-sns li a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/icon_sns_01.png");
    background-repeat: no-repeat;
    background-size: 56px 14px;
}
ul.header-sns li:first-child >a{
    background-position: -28px 0px;
}
ul.header-sns li:last-child > a{
    background-position: -42px 0px;
}

/*hBottom*/
div.header-bottom-container{
    width: 100%;
    height: 90px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;
    justify-content: space-between;
}
h1.logo{
    width: 109px;
    height: 47px;
    background-image: url("../images/h1_logo.png");
    background-repeat: no-repeat;
}
nav.gnb{
    height: 100%;
}
nav.gnb ul{
    display: flex;
    height: 100%;
}

nav.gnb ul li{
    padding: 0px 30px;
    height: 100%;
}
nav.gnb ul li > a{
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
}

nav.gnb ul li > a:after{
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    background: gold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 250ms;
    transform: scaleX(0);
}

nav.gnb ul li:hover a:after{
    transform: scaleX(1);
}
nav.gnb ul li:hover a{
    color:gold;
}



div.mobile-btn{
    width: 25px;
    height: 22px;
}
div.mobile-btn a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 300ms;
}
div.mobile-btn a span{
    display: block;
    width: 100%;
    height: 4px;
    background: #333333;
    position: absolute;
    left: 0px;
    transition: 300ms;
}

span.line01{
    top: 0px;
}
span.line02{
    top: 9px;
}
span.line03{
    top: 18px;
}
div.mobile-btn a:hover span.line01{
    top: 9px;
    transition-delay: 300ms;
}
div.mobile-btn a:hover span.line02{
    transform: scaleX(0);
}
div.mobile-btn a:hover span.line03{
    transform: rotate(90deg);
    top: 9px;
    transition-delay: 300ms;
}
div.mobile-btn a:hover{
    transform: rotate(45deg);
    transition-delay:620ms
}

/* visual */
div.visual-container{
    width: 100%;
    height: 700px;
    position: relative;
}
div.visual-list{
    width: 100%;
    height: 100%;
}
div.visual-item{
    width: 100%;
    height: 100%;
}
div.visual-item a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/visual01.jpg) no-repeat center center;
}

div.visual-control-container{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 0;
    /* background: coral; */
}
div.visual-control-container div.inner{
    display: flex;
    align-items: center;
}
div.dot-container ul{
    display: flex;
    align-items: center;
}
div.dot-container ul li{
    width: 50px;
    height: 4px;
    margin-right: 8px;
    display: flex;
}
div.dot-container ul li:last-of-type{
    margin-right: 0;
}
div.dot-container ul li a{
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
}
a.pause-play-btn{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icon_play.png);
    background-repeat: no-repeat;
    background-size: 60px 30px;
    margin-left: 30px;
    transition: 250ms;
}
a.pause-play-btn:hover{
    background-position: -30px 0;
}

div.content01-container{
    padding: 64px 0;
    background: #fff;
}
div.intro-container{
    width: 100%;
    display: flex;
    margin-bottom: 64px;
}
.content-item{
    flex-grow: 1;
}
.item-image{
    padding-top: 62.1%;
    height: 0;
    background-size: cover;
    background-position: center center;
}
div.item-text{
    background: #eee;
    padding: 30px 26px 26px;
}
h2.item-title{
    font-size: 24px;
}
h2.item-title span{
display: block;
color: #333;
}




/* ---------------------- 반 응 형 ------------------------ */






@media screen and (max-width:1169px){
    .inner{
        width: 100%;
    }
}

@media screen and (max-width:1023px){

    header.header-container,
    div.header-bottom-container{
        height: 60px;
    }
    div.header-top-container,
    nav.gnb{
        display: none;
    }
    h1.logo{
        width: 25px;
        height: 25px;
        background-image: url("../images/");
        background-size: 25px 25px;
    }


}